# --- Git и настройки проекта ---
.git
.gitignore
.dockerignore

# --- Виртуальное окружение (САМОЕ ВАЖНОЕ) ---
venv
.venv
env

# --- Python мусор ---
__pycache__
*.pyc
*.pyo
*.pyd

# --- Секреты (Безопасность) ---
.env
.env.*
!.env.example

# --- Данные базы данных (Иначе сборка будет вечной) ---
postgres_data

# --- Логи и временные файлы ---
*.log
logs/