# Виртуальное окружение
venv/
env/
.env

# Байт-код Python
__pycache__/
*.py[cod]

# База данных (мы не хотим грузить саму БД в интернет)
postgres_data/

# Файлы IDE (если пользуешься VS Code или PyCharm)
.vscode/
.idea/

# Секреты (САМОЕ ВАЖНОЕ)
.env